In [1]:
import pandas as pd

In [5]:
maDataFrame = pd.read_csv('../../Data/ozone.csv')

In [6]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [7]:
maDataFrame.columns

Index(['JOUR', 'O3obs', 'MOCAGE', 'TEMPE', 'RMH2O', 'NO2', 'NO', 'STATION',
       'VentMOD', 'VentANG'],
      dtype='object')

In [8]:
maDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   JOUR     1041 non-null   int64
 1   O3obs    1041 non-null   int64
 2   MOCAGE   1041 non-null   float64
 3   TEMPE    1041 non-null   float64
 4   RMH2O    1041 non-null   float64
 5   NO2      1041 non-null   float64
 6   NO       1041 non-null   float64
 7   STATION  1041 non-null   object
 8   VentMOD  1041 non-null   float64
 9   VentANG  1041 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 81.5+ KB

In [9]:
maDataFrame['O3obs']

0        91
1       100
2        82
3        94
4       107
       ...
1036    116
1037     60
1038     74
1039    121
1040     93
Name: O3obs, Length: 1041, dtype: int64

In [10]:
maDataFrame.O3obs

0        91
1       100
2        82
3        94
4       107
       ...
1036    116
1037     60
1038     74
1039    121
1040     93
Name: O3obs, Length: 1041, dtype: int64

In [11]:
bloc1 = maDataFrame.iloc[10:15]

In [12]:
bloc1

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
10,0,118,72.6,22.2,0.01626,4.258,1.304,Aix,5.9641,-0.60661
11,0,48,146.0,14.3,0.01453,13.664,2.976,Aix,5.8034,-0.03447
12,0,97,87.5,18.5,0.00959,4.126,1.271,Aix,7.5273,0.33856
13,1,83,158.9,15.4,0.01456,10.254,1.839,Aix,2.5942,0.48089
14,1,73,112.6,19.6,0.01220,1.955,0.445,Aix,8.8752,-0.58488

In [13]:
for index, row in bloc1.iterrows():
    print("La valeur Ã  lindice [{}] : \n{}\n\n".format(index, row))

La valeur Ã  lindice [10] :
JOUR             0
O3obs          118
MOCAGE        72.6
TEMPE         22.2
RMH2O      0.01626
NO2          4.258
NO           1.304
STATION        Aix
VentMOD     5.9641
VentANG   -0.60661
Name: 10, dtype: object


La valeur Ã  lindice [11] :
JOUR             0
O3obs           48
MOCAGE         146
TEMPE         14.3
RMH2O      0.01453
NO2         13.664
NO           2.976
STATION        Aix
VentMOD     5.8034
VentANG   -0.03447
Name: 11, dtype: object


La valeur Ã  lindice [12] :
JOUR             0
O3obs           97
MOCAGE        87.5
TEMPE         18.5
RMH2O      0.00959
NO2          4.126
NO           1.271
STATION        Aix
VentMOD     7.5273
VentANG    0.33856
Name: 12, dtype: object


La valeur Ã  lindice [13] :
JOUR             1
O3obs           83
MOCAGE       158.9
TEMPE         15.4
RMH2O      0.01456
NO2         10.254
NO           1.839
STATION        Aix
VentMOD     2.5942
VentANG    0.48089
Name: 13, dtype: object


La valeur Ã  lindice [14] :
JOUR             1
O3obs           73
MOCAGE       112.6
TEMPE         19.6
RMH2O       0.0122
NO2          1.955
NO           0.445
STATION        Aix
VentMOD     8.8752
VentANG   -0.58488
Name: 14, dtype: object

In [14]:
bloc2= maDataFrame.iloc[10:15,0:3]

In [15]:
bloc2

    JOUR  O3obs  MOCAGE
10     0    118    72.6
11     0     48   146.0
12     0     97    87.5
13     1     83   158.9
14     1     73   112.6

In [16]:
bloc2.reset_index()

   index  JOUR  O3obs  MOCAGE
0     10     0    118    72.6
1     11     0     48   146.0
2     12     0     97    87.5
3     13     1     83   158.9
4     14     1     73   112.6

In [17]:
bloc2

    JOUR  O3obs  MOCAGE
10     0    118    72.6
11     0     48   146.0
12     0     97    87.5
13     1     83   158.9
14     1     73   112.6

In [19]:
bloc2.reset_index(inplace=True)

In [20]:
bloc2

   index  JOUR  O3obs  MOCAGE
0     10     0    118    72.6
1     11     0     48   146.0
2     12     0     97    87.5
3     13     1     83   158.9
4     14     1     73   112.6

In [21]:
bloc2.iloc[0,0]

10

In [22]:
bloc2.iloc[0,2]

118

In [23]:
bloc2.iloc[4,3]

112.6