In [10]:
import pandas as pd
import scipy.stats

In [11]:
maDataFrame = pd.read_csv('../../Data/ozone.csv')

In [12]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [13]:
maDataFrame.O3obs.min()

19

In [14]:
maDataFrame.O3obs.max()

319

In [15]:
maDataFrame.O3obs.mean()

115.40057636887607

In [16]:
maDataFrame.O3obs.var()

1680.9307304367082

In [8]:
maDataFrame.O3obs.var(ddof=0)

1679.316003510256

In [17]:
maDataFrame.O3obs.var(ddof=1)

1680.9307304367082

In [18]:
maDataFrame.O3obs.quantile([0.25,0.75])

0.25     87.0
0.75    135.0
Name: O3obs, dtype: float64

In [18]:
maDataFrame.O3obs.quantile(0.5)

109.0

In [19]:
maDataFrame.O3obs.median()

109.0

In [22]:
l=[1,2]

In [24]:
scipy.stats.percentileofscore(maDataFrame.O3obs, 300)

99.90393852065321

In [16]:
maDataFrame.describe()

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,VentMOD,VentANG
count,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000
mean,0.304515,115.400576,127.219693,23.883381,0.010251,3.504645,0.657417,5.907186,0.163111
std,0.460423,40.999155,39.820186,5.217462,0.003731,4.043308,0.844180,3.054307,0.708288
min,0.000000,19.000000,46.400000,10.400000,0.002850,0.258000,0.001000,0.141420,-1.570790
25%,0.000000,87.000000,97.500000,20.200000,0.007630,1.248000,0.236000,3.962320,-0.394790
50%,0.000000,109.000000,125.600000,23.800000,0.009850,2.109000,0.388000,5.597300,0.278300
75%,1.000000,135.000000,153.600000,27.600000,0.012440,4.062000,0.744000,7.106300,0.692640
max,1.000000,319.000000,284.700000,38.000000,0.027530,44.396000,9.429000,19.891000,1.570790

In [17]:
maDataFrame.describe()[['O3obs','MOCAGE','TEMPE']]

             O3obs       MOCAGE        TEMPE
count  1041.000000  1041.000000  1041.000000
mean    115.400576   127.219693    23.883381
std      40.999155    39.820186     5.217462
min      19.000000    46.400000    10.400000
25%      87.000000    97.500000    20.200000
50%     109.000000   125.600000    23.800000
75%     135.000000   153.600000    27.600000
max     319.000000   284.700000    38.000000