In [1]:
import pandas as pd

In [2]:
maDataFrame = pd.read_csv('../../Data/ecoles-creches-idf.csv')

In [3]:
maDataFrame

,ID,nom,departement,ville,CP,type,NO2_2012,NO2_2013,NO2_2014,NO2_2015,...,PM10_2015,PM10_2016,PM10_2017,PM25_2012,PM25_2013,PM25_2014,PM25_2015,PM25_2016,PM25_2017,geometry
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,41.316912,42.916257,40.610102,37.182711,...,23.790138,23.077844,21.782889,17.152857,18.637080,14.895546,15.277787,14.806532,13.549347,"c(2.2908106734441, 48.8421565600018)"
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,63.683878,60.890328,53.322156,45.804898,...,26.063983,23.803116,23.020608,22.692531,23.629341,18.628494,16.978740,15.434943,14.429643,"c(2.40580700033425, 48.8756657433978)"
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,41.507336,41.598420,42.855147,39.286859,...,22.995246,22.400441,20.867075,16.614189,18.142261,14.487745,14.562495,14.134427,12.561472,"c(2.33270615799049, 48.8661396641722)"
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,45.197342,44.280198,45.187931,40.855468,...,23.650961,23.405547,22.650735,17.713481,19.089383,15.433904,15.067306,14.756645,15.118740,"c(2.34734689771536, 48.8668886093452)"
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,40.109546,39.257252,39.688121,37.249166,...,22.808231,22.049934,20.717201,16.332941,17.645253,14.270936,14.391215,13.911639,12.654443,"c(2.36480092620121, 48.8569700986785)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,25.491322,25.555634,19.527074,22.299624,...,19.869131,17.863178,18.105259,13.803373,15.691174,12.018149,12.517553,11.253802,11.044208,"c(2.16919587783002, 48.8431345916851)"
12526,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,25.399896,27.425298,23.977558,24.256471,...,19.867671,18.068191,18.478601,14.512460,15.739200,12.129308,12.516633,11.382960,11.271947,"c(2.16847695611124, 48.8776984436972)"
12527,12194,Les coccinelles,92,Clamart,92140,crèche,28.621819,32.504379,26.327555,26.119244,...,20.140374,19.734444,19.531801,14.818853,16.465304,12.801332,12.712096,12.449960,11.889488,"c(2.26667090146341, 48.8064248969638)"
12528,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,36.340857,38.690607,37.182478,35.686455,...,22.088143,20.719541,20.285548,16.266794,17.210366,13.599715,13.961720,13.089301,12.218995,"c(2.26211365820375, 48.8873574601706)"
12529,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,36.048742,38.314610,36.632168,35.563804,...,21.984239,20.541642,20.019353,15.935270,16.991755,13.399608,13.850810,12.945416,12.212256,"c(2.26977404178629, 48.8854199935976)"

**Note sur ce Dataset :**

Cette base de données a été constituée par Datactivist pour le compte de l'association Respire afin d'alerter sur les niveaux d'expositions des populations fragiles à la pollution aérienne.

Elle sert de base à la carte "De l'air pour nos enfants !" mise en ligne par Respire le 27 mars 2019.

In [4]:
maDataFrame.columns

Index(['ID', 'nom', 'departement', 'ville', 'CP', 'type', 'NO2_2012',
       'NO2_2013', 'NO2_2014', 'NO2_2015', 'NO2_2016', 'NO2_2017', 'PM10_2012',
       'PM10_2013', 'PM10_2014', 'PM10_2015', 'PM10_2016', 'PM10_2017',
       'PM25_2012', 'PM25_2013', 'PM25_2014', 'PM25_2015', 'PM25_2016',
       'PM25_2017', 'geometry'],
      dtype='object')

**Définition des variables :**

Les particules fines (PM10 et PM 2,5) sont sans doute celles dont nous entendons le plus parler. Elles sont constituées d'un mélange hétérogène lié à l'usure de la route et des pneus, des garnitures de frein et d'embrayage, des hydrocarbures issus des pots d'échappement (fer, plomb, carbone) ou encore des additifs des lubrifiants et de l'oxyde d'aluminium provenant des supports des catalyseurs.

Le dioxyde d’azote NOx est le plus abondant. Il provient essentiellement de la circulation automobile et surtout actuellement des véhicules diesel, car à l’inverse des véhicules à essence ils ne sont pas équipés de pots d’échappement catalytiques détruisant ce polluant.

Le dioxyde d’azote (NO2) se forme dans l’atmosphère à partir du monoxyde d’azote (NO) qui se dégage essentiellement lors de la combustion de combustibles fossiles, dans la circulation routière par exemple. Le dioxyde d’azote se transforme dans l’atmosphère en acide nitrique, qui retombe au sol et sur la végétation

In [5]:
maDataFrame.drop(columns=['geometry'])

,ID,nom,departement,ville,CP,type,NO2_2012,NO2_2013,NO2_2014,NO2_2015,...,PM10_2014,PM10_2015,PM10_2016,PM10_2017,PM25_2012,PM25_2013,PM25_2014,PM25_2015,PM25_2016,PM25_2017
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,41.316912,42.916257,40.610102,37.182711,...,23.092735,23.790138,23.077844,21.782889,17.152857,18.637080,14.895546,15.277787,14.806532,13.549347
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,63.683878,60.890328,53.322156,45.804898,...,27.792437,26.063983,23.803116,23.020608,22.692531,23.629341,18.628494,16.978740,15.434943,14.429643
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,41.507336,41.598420,42.855147,39.286859,...,22.482355,22.995246,22.400441,20.867075,16.614189,18.142261,14.487745,14.562495,14.134427,12.561472
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,45.197342,44.280198,45.187931,40.855468,...,23.696541,23.650961,23.405547,22.650735,17.713481,19.089383,15.433904,15.067306,14.756645,15.118740
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,40.109546,39.257252,39.688121,37.249166,...,22.230296,22.808231,22.049934,20.717201,16.332941,17.645253,14.270936,14.391215,13.911639,12.654443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,25.491322,25.555634,19.527074,22.299624,...,18.782084,19.869131,17.863178,18.105259,13.803373,15.691174,12.018149,12.517553,11.253802,11.044208
12526,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,25.399896,27.425298,23.977558,24.256471,...,18.897565,19.867671,18.068191,18.478601,14.512460,15.739200,12.129308,12.516633,11.382960,11.271947
12527,12194,Les coccinelles,92,Clamart,92140,crèche,28.621819,32.504379,26.327555,26.119244,...,19.922176,20.140374,19.734444,19.531801,14.818853,16.465304,12.801332,12.712096,12.449960,11.889488
12528,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,36.340857,38.690607,37.182478,35.686455,...,21.214925,22.088143,20.719541,20.285548,16.266794,17.210366,13.599715,13.961720,13.089301,12.218995
12529,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,36.048742,38.314610,36.632168,35.563804,...,21.002132,21.984239,20.541642,20.019353,15.935270,16.991755,13.399608,13.850810,12.945416,12.212256

In [6]:
maDataFrameMelt = maDataFrame.melt(['ID', 'nom', 'departement', 'ville', 'CP', 'type'], ['NO2_2012',
       'NO2_2013', 'NO2_2014', 'NO2_2015', 'NO2_2016', 'NO2_2017', 'PM10_2012',
       'PM10_2013', 'PM10_2014', 'PM10_2015', 'PM10_2016', 'PM10_2017',
       'PM25_2012', 'PM25_2013', 'PM25_2014', 'PM25_2015', 'PM25_2016',
       'PM25_2017'],'Polluant-Année','valeur')

In [7]:
maDataFrameMelt.head()

,ID,nom,departement,ville,CP,type,Polluant-Année,valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2012,41.316912
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,NO2_2012,63.683878
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,NO2_2012,41.507336
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,NO2_2012,45.197342
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,NO2_2012,40.109546

In [8]:
maDataFrameMelt.query('ID=="0750026W"')

,ID,nom,departement,ville,CP,type,Polluant-Année,valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2012,41.316912
12530,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2013,42.916257
25060,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2014,40.610102
37590,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2015,37.182711
50120,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2016,37.885329
62650,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2017,37.345489
75180,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2012,27.311257
87710,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2013,27.054589
100240,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2014,23.092735
112770,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2015,23.790138
125300,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2016,23.077844
137830,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM10_2017,21.782889
150360,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2012,17.152857
162890,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2013,18.637080
175420,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2014,14.895546
187950,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2015,15.277787
200480,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2016,14.806532
213010,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,PM25_2017,13.549347

In [14]:
maDataFrameMelt['Polluant'] = maDataFrameMelt['Polluant-Année'].apply(lambda s: s.split('_')[0])

In [15]:
maDataFrameMelt

,ID,nom,departement,ville,CP,type,Polluant-Année,valeur,Polluant,Année
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2012,41.316912,NO2,2012
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,NO2_2012,63.683878,NO2,2012
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,NO2_2012,41.507336,NO2,2012
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,NO2_2012,45.197342,NO2,2012
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,NO2_2012,40.109546,NO2,2012
...,...,...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,PM25_2017,11.044208,PM25,2017
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,PM25_2017,11.271947,PM25,2017
225537,12194,Les coccinelles,92,Clamart,92140,crèche,PM25_2017,11.889488,PM25,2017
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.218995,PM25,2017
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.212256,PM25,2017

In [12]:
maDataFrameMelt['Année'] = maDataFrameMelt['Polluant-Année'].apply(lambda s: s.split('_')[1])

In [13]:
maDataFrameMelt

,ID,nom,departement,ville,CP,type,Polluant-Année,valeur,Polluant,Année
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2012,41.316912,NO2,2012
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,NO2_2012,63.683878,NO2,2012
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,NO2_2012,41.507336,NO2,2012
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,NO2_2012,45.197342,NO2,2012
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,NO2_2012,40.109546,NO2,2012
...,...,...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,PM25_2017,11.044208,PM25,2017
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,PM25_2017,11.271947,PM25,2017
225537,12194,Les coccinelles,92,Clamart,92140,crèche,PM25_2017,11.889488,PM25,2017
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.218995,PM25,2017
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.212256,PM25,2017

In [16]:
maDataFrameMelt = maDataFrameMelt.drop(columns=['Polluant-Année'])

In [17]:
maDataFrameMelt

,ID,nom,departement,ville,CP,type,valeur,Polluant,Année
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,41.316912,NO2,2012
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,63.683878,NO2,2012
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,41.507336,NO2,2012
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,45.197342,NO2,2012
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,40.109546,NO2,2012
...,...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,11.044208,PM25,2017
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,11.271947,PM25,2017
225537,12194,Les coccinelles,92,Clamart,92140,crèche,11.889488,PM25,2017
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,12.218995,PM25,2017
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,12.212256,PM25,2017

In [18]:
 
maDataFrameMelt = maDataFrameMelt[['ID', 'nom', 'departement', 'ville', 'CP', 'type','Année',  'Polluant', 'valeur']]

In [19]:
maDataFrameMelt

,ID,nom,departement,ville,CP,type,Année,Polluant,valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,2012,NO2,41.316912
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,2012,NO2,63.683878
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,2012,NO2,41.507336
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,2012,NO2,45.197342
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,2012,NO2,40.109546
...,...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,2017,PM25,11.044208
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,2017,PM25,11.271947
225537,12194,Les coccinelles,92,Clamart,92140,crèche,2017,PM25,11.889488
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,2017,PM25,12.218995
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,2017,PM25,12.212256

In [20]:
maDataFrameMelt.to_csv('../../Data/output/ecoles-creches-idf-melt.csv', index=False)